<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>bc04ec7dc4ef2f60a2423757716bc5a8</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>vi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1658124794475315</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google release</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.639535783968-1rnurgmjimb9kcnphujk7r6ar5dvrhe7</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google test</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.685322569-p1s6adtv6n0brvh8g4icpvndbsvk28p8</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.client.facecar</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vivuclientscheme</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google test</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.685322569-u9dpmvqp4n1ci8bnkjoi1vva9gfu705n</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>zp-redirect-360</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zp-redirect-360</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.685322569-ui0b302h0earlm3aiffpedstooovog0e</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.317038682796-rvjopql2sg94gb8vrq11ac4p96922u40</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>momos0dc20190728</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>202008170959</string>
	<key>FIRAnalyticsDebugEnabled</key>
	<true/>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>b52db4225ef4fd0f38bdbe686be05c4b9e7a7ed2</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1658124794475315</string>
	<key>FacebookDisplayName</key>
	<string>ClientCar</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>zalopay</string>
		<string>fbauth2</string>
		<string>fb</string>
		<string>momo</string>
		<string>vatomerchant</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Để giúp bạn quản lý thời gian đặt xe tốt hơn, VATO sẽ ghi thông vào calendar của bạn.</string>
	<key>NSCameraUsageDescription</key>
	<string>VATO yêu cầu truy xuất vào máy ảnh của bạn để sử dụng chức năng này.</string>
	<key>NSContactsUsageDescription</key>
	<string>VATO yêu cầu truy cập danh bạ của bạn để sử dụng tính năng này.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Để giúp bạn có một chuyến đi tin cậy, VATO thu thập dữ liệu vị trí từ lúc bạn mở ứng dụng đến khi chuyến đi kết thúc. Việc này giúp cải thiện hoạt động đón trả khách và hỗ trợ của chúng tôi.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Để giúp bạn có một chuyến đi tin cậy, VATO thu thập dữ liệu vị trí từ lúc bạn mở ứng dụng đến khi chuyến đi kết thúc. Việc này giúp cải thiện hoạt động đón trả khách và hỗ trợ của chúng tôi.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>VATO yêu cầu truy xuất vào thư viện ảnh của bạn để sử dụng chức năng này.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>VATO yêu cầu truy xuất vào thư viện ảnh của bạn để sử dụng chức năng này.</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Scan Barcode</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.client.facecar.scanbarcode</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeTask</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Quick Booking</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.client.facecar.quickbooking</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
