<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vatopay</key>
	<dict>
		<key>layout_type</key>
		<integer>1</integer>
		<key>name</key>
		<string>VATOPay</string>
		<key>active</key>
		<integer>1</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>title</key>
				<string>Nạp tiền</string>
				<key>imageURL</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>active</key>
				<string>1</string>
				<key>data</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>4</integer>
				<key>title</key>
				<string>Giao dịch</string>
				<key>imageURL</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>active</key>
				<string>1</string>
				<key>data</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5</integer>
				<key>title</key>
				<string>Khuyến mãi</string>
				<key>imageURL</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>active</key>
				<string>1</string>
				<key>data</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>bookingServices</key>
	<dict>
		<key>layout_type</key>
		<integer>2</integer>
		<key>name</key>
		<string>VATOPay</string>
		<key>active</key>
		<integer>1</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>20</integer>
				<key>title</key>
				<string>VATO Bike</string>
				<key>imageURL</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>active</key>
				<string>1</string>
				<key>data</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>21</integer>
				<key>title</key>
				<string>VATO Car</string>
				<key>imageURL</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>active</key>
				<string>1</string>
				<key>data</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<string>22</string>
				<key>title</key>
				<string>Giao hàng</string>
				<key>imageURL</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>active</key>
				<string>1</string>
				<key>data</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<string>23</string>
				<key>title</key>
				<string>Mua vé xe</string>
				<key>imageURL</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>active</key>
				<string>0</string>
				<key>data</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<string>24</string>
				<key>title</key>
				<string>Taxi</string>
				<key>imageURL</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>active</key>
				<string>0</string>
				<key>data</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>promotions</key>
	<dict>
		<key>layout_type</key>
		<integer>3</integer>
		<key>name</key>
		<string>Promotions</string>
		<key>active</key>
		<integer>1</integer>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<string>5001</string>
				<key>title</key>
				<string>VATO Called yes - VND 8,000</string>
				<key>imageURL</key>
				<string>https://vato.vn/wp-content/uploads/2019/07/banner-1.png</string>
				<key>description</key>
				<string>Promotions</string>
				<key>active</key>
				<string>1</string>
				<key>data</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<string>5002</string>
				<key>title</key>
				<string>VATO Called yes - VND 8,000</string>
				<key>imageURL</key>
				<string>https://vato.vn/wp-content/uploads/2019/07/banner-1.png</string>
				<key>description</key>
				<string>Promotions</string>
				<key>active</key>
				<string>1</string>
				<key>data</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<string>5003</string>
				<key>title</key>
				<string>VATO Called yes - VND 8,000</string>
				<key>imageURL</key>
				<string>https://vato.vn/wp-content/uploads/2019/07/banner-1.png</string>
				<key>description</key>
				<string>Promotions</string>
				<key>active</key>
				<string>1</string>
				<key>data</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<string>5004</string>
				<key>title</key>
				<string>VATO Called yes - VND 8,000</string>
				<key>imageURL</key>
				<string>https://vato.vn/wp-content/uploads/2019/07/banner-1.png</string>
				<key>description</key>
				<string>Promotions</string>
				<key>active</key>
				<string>1</string>
				<key>data</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<string>5005</string>
				<key>title</key>
				<string>VATO Called yes - VND 8,000</string>
				<key>imageURL</key>
				<string>https://vato.vn/wp-content/uploads/2019/07/banner-1.png</string>
				<key>description</key>
				<string>Promotions</string>
				<key>active</key>
				<string>1</string>
				<key>data</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<string>5006</string>
				<key>title</key>
				<string>VATO Called yes - VND 8,000</string>
				<key>imageURL</key>
				<string>https://vato.vn/wp-content/uploads/2019/07/banner-1.png</string>
				<key>description</key>
				<string>Promotions</string>
				<key>active</key>
				<string>1</string>
				<key>data</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<string>5001</string>
				<key>title</key>
				<string>VATO Called yes - VND 8,000</string>
				<key>imageURL</key>
				<string>https://vato.vn/wp-content/uploads/2019/07/banner-1.png</string>
				<key>description</key>
				<string>Promotions</string>
				<key>active</key>
				<string>1</string>
				<key>data</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
